// variables.scss
// --------------

// Colors:

$dark-gray: rgb(33, 35, 36);
$muted: rgb(113, 113, 113);
$brand: #0b9d80;
// Type:

$base-size: 16px;
$sans-family: 'Open Sans', sans-serif;

$bold: 700;
$narrow: 400;

$font-color: $dark-gray;


// Responsive
$break-sm: 30em;
