// layout.scss
// --------------
body {
	background-color: $body-bg;
	margin: 0;
	padding: 0;
	width: 100%;
	@extend .margins-off;

	// this really does controll the whole layout...
	font-size: 13px;
	@media screen and (min-width: $break-sm){
		//font-size: $base-size;
		font-size: 14px;
	}
}



// Tama on oikeastaan aika nappara maaritelma =)
//http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
* + * {
	margin-top: 1.5em;
}

.margins-off > * {
	margin-top: 0;
}

.clearfix {
	// http://css-tricks.com/snippets/css/clear-fix/ only ie8 up.
	content: "";
	display: table;
	clear: both;
}


.container {
	background-color: white;
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
}

.content .block {
	padding-left: 1em;
	padding-right: 1em;
}

.row {
	float: left;
	@extend .clearfix;
	width: 100%;
}

.row > * {
	@media screen and (min-width: $break-sm) {
		margin-top: 0;

	}
}


.half {
	@media screen and (min-width: $break-sm) {
			width: 50%;
			float: left;
	}
}
