// layout.scss
// --------------
body {
	background-color: #efefef;
	margin: 0;
	padding: 0;
	width: 100%;
	@extend .margins-off;

	// this really does controll the whole layout...
	font-size: 13px;
	@media screen and (min-width: $break-sm){
		//font-size: $base-size;
		font-size: 16px;
	}
}


// Tama on oikeastaan aika nappara maaritelma =)
//http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
* + * {
	margin-top: 1.5em;
}

.row > * {
	@media screen and (min-width: $break-sm) {
		margin-top: 0;
	}
}

.margins-off > * {
	margin-top: 0;
}

.row:after {
	// http://css-tricks.com/snippets/css/clear-fix/ only ie8 up.
  content: "";
  display: table;
  clear: both;
}

.container {
	background-color: white;
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.content .block {
	padding-left: 1em;
	padding-right: 1em;
}

.half {

	@media screen and (min-width: $break-sm) {
			width: 50%;
			float: left;
	}
}



//
.login-dialog {
	text-align: center;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 30em;
	button {
		margin: 2em;
	}
}


.logout-dialog {
	text-align: center;
	padding: 2em;
}




.sneakpeak {
	height: 2.5em;
	overflow: hidden;
	position: relative;
	transition: all 0.5s;
 	&:after {
		content: '';
		display: block;

		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;

		background: rgb(255, 255, 255);
		background: linear-gradient(to bottom, rgba(255,255,255,0.10) 0%,rgba(255,255,255,1) 100%);

		transition: all 3.5s;
	}
	&.reveal {
		height: auto;
		transition: all 3.5s;
		&:after {
			background: none;
		}
	}
}
