// layout.scss
// --------------
body {
	background-color: #efefef;
	margin: 0;
	padding: 0;
	width: 100%;
}


.container {
	background-color: white;
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.content .block {
	padding-left: 1em;
	padding-right: 1em;
}


//
.login-dialog {
	text-align: center;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 30em;
	button {
		margin: 2em;
	}
}


.logout-dialog {
	text-align: center;
	padding: 2em;
}

// header
.header {
	.header-body {
	}
}

.cover-photo {
	width: 100%;
}


.profile-photo {
	display: block;
	width: 40%;
	img {
		max-width: 100%;
	}
	margin-top: -20%;
	margin-right: auto;
	margin-left: auto;


}
